{{> header}}
<link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<style media="screen">
  /* layout.css Style */
  .upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
  }

  /* skin.css Style*/
  .upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
  }
  .upload-drop-zone.drop {
  color: #222;
  border-color: #222;
  }
</style>
<div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Crear un producto</div>
      <div class="card-body">
        <form action="/crearProducto" enctype="multipart/form-data" autocomplete="off" method="POST">
          {{{error}}}
          {{#if errores}}
            {{#each errores}}
              <div class='alert alert-danger' role='alert'>{{this}}</div>
            {{/each}}
          {{/if}}
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">CODIGO</label>
                <input class="form-control" type="text" aria-describedby="nameHelp" name="codigo" placeholder="Codigo" >
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">TITULO</label>
                <input class="form-control" type="text" aria-describedby="nameHelp" name="titulo" placeholder="Titulo" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">PRECIO</label>
                <input class="form-control" type="number" name="precio" placeholder="Precio">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">CANTIDAD</label>
                <input class="form-control" type="number" name="cantidad" placeholder="Cantidad">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <label for="exampleConfirmPassword">CATEGORIA</label>
                <input class="form-control" type="text" name="categoria" placeholder="Categoria">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <label for="exampleInputPassword1">DESCRIPCION</label>
                <textarea class="form-control" type="number" name="descripcion" placeholder="Descripcion"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Imagenes</label>
            <div class="form-row">
                <div class="form-group col-md-offset-3">
                  <input type="file" name="files" multiple="multiple">
                </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <button class="btn btn-lg btn-primary btn-block botonReg" type="submit">Crear Producto</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{{> footer}}
